<div class="container">
  <mat-toolbar color="primary">
      <label>New Traffic Policeman</label>
      <button style="position: relative; left:75%;" class="btn btn-light" (click)="close()">X</button>
  </mat-toolbar>

  <form style="margin-top:40px;margin-bottom: 40px" [formGroup]="policemanForm" (ngSubmit)="submit()" >   
    
<!-- 
        <mat-form-field style="display: none;">
            <input  formControlName="policeStationId" matInput placeholder="Police Station" [(ngModel)]="policeStationID">
        </mat-form-field > -->
     
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile>
           <div class="controles-container">
              <mat-form-field >
                <input  formControlName="_id"  matInput placeholder="Policeman Id">
              </mat-form-field>
     
              <mat-form-field >
               <input  formControlName="name"  matInput placeholder="Policeman Name">
              </mat-form-field>
             
              <mat-form-field>
                  <input  formControlName="nationalId" matInput placeholder="National Id">
              </mat-form-field>
      
              <mat-form-field>
                <input  formControlName="address" matInput placeholder="Address">
              </mat-form-field>
     
              <mat-form-field>
                <input type="number" formControlName="phoneNo" matInput placeholder="Phone Number">
              </mat-form-field>
              <br>
             </div>
        </mat-grid-tile>
      <mat-grid-tile>
          <div class="controles-container">

              <mat-list-item>
                  <mat-form-field>
                      <mat-select formControlName="rankId"  placeholder="Rank">
                        <ng-container *ngFor="let rank of ranks">
                          <mat-option [value]="rank._id">{{rank.name}}
                            </mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
               </mat-list-item>
  
            <mat-form-field>
                <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" placeholder="Date of birth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input type="password" formControlName="password" matInput placeholder="Password">
            </mat-form-field>
     
            <mat-form-field>
              <input type="password" formControlName="confirmPassword" matInput placeholder="Confirm Password">
            </mat-form-field>
     
             <div class="container" style="color: red"
                *ngIf="policemanForm.hasError('mismatch')&&confirmPassword.touched">
                  Passwords must match
             </div>
            <div class="button-row" >
               <button type="submit" [disabled]="!policemanForm.valid" mat-raised-button color="primary">Create</button>
               <!-- <button mat-raised-button color="warn" >Cancel</button> -->
            </div>
            </div>
        </mat-grid-tile>
     </mat-grid-list>
  </form>
</div>

 