<div class="container">
  <mat-toolbar color="primary">
      <label>{{newOffence===true?"Create Offence":"Update Offence"}}</label>
      <button (click)="close()" class="btn btn-light" style="position: relative; left:45%;">X</button>
  </mat-toolbar>
  <form [formGroup]="offenceForm" (ngSubmit)="submit()">   
    <mat-list>
      <mat-list-item>
        <mat-form-field >
         <input  formControlName="sectionOfAct" [readonly]="newOffence===true? false:true" matInput placeholder="Section of act">
        </mat-form-field> 
      </mat-list-item>

      <mat-list-item >
        <mat-form-field>
         <input  formControlName="provision" matInput placeholder="Provision">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item >
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"  formControlName="type">
                <mat-radio-button style="padding: 10px" color="warn" class="example-radio-button"
                 *ngFor="let offenceType of offenceTypes" [value]="offenceType.id" (change)="typeChange($event)">
                                 {{offenceType.name}}<span> </span>
                 </mat-radio-button>
          </mat-radio-group>
      </mat-list-item>

      <mat-list-item *ngIf="showDaysAllowed">
        <mat-form-field>
         <input  type="number" formControlName="daysAllowed" matInput placeholder="Days Before Court Case">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item >
          <mat-form-field>
           <input type="number" formControlName="amount" matInput placeholder="Amount">
          </mat-form-field>
        </mat-list-item>
    </mat-list>   
    <div class="button-row" >
        <button type="submit" [disabled]="!offenceForm.valid" mat-raised-button color="primary">Submit</button>
        <button type="button" mat-raised-button color="warn" (click)="clear()">Cancel</button>
    </div>
  </form>
</div>