<div class="container">
  <mat-toolbar color="primary">
      <label>{{newOffence===true?"Create Offence":"Update Offence"}}</label>
      <button (click)="close()" class="btn btn-light" style="position: relative; left:45%;">X</button>
  </mat-toolbar>
  <form [formGroup]="offenceForm" (ngSubmit)="submit()">   
    <mat-list>
      <mat-list-item>
        <mat-form-field >
         <input  formControlName="sectionOfAct" [readonly]="newOffence===true? false:true" matInput placeholder="Section of act">
        </mat-form-field> 
      </mat-list-item>

      <mat-list-item >
        <mat-form-field>
         <input  formControlName="provision" matInput placeholder="Provision">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item >
          <mat-form-field>
           <input type="number" formControlName="amount" matInput placeholder="Amount">
          </mat-form-field>
        </mat-list-item>
    </mat-list>   
    <div class="button-row" >
        <button type="submit" [disabled]="!offenceForm.valid" mat-raised-button color="primary">Submit</button>
        <button type="button" mat-raised-button color="warn" (click)="clear()">Cancel</button>
    </div>
  </form>
</div>