<app-navBar></app-navBar>
<div class="container" id="contentToConvert" style="margin-top: 150px">
  <h2> {{policeStationName}} Police Station</h2>
  <h2> {{policeStation.address}}</h2>
  <h2> {{policeStation.phoneNo}}</h2>
  <br><br>
</div>

<div  class="container">
    <div>
        <mat-form-field style="width: 30% ;min-width: 100px;" class="search-form-field search-div " floatLabel="never">
            <input [(ngModel)]="fineId"   matInput placeholder="Search Fine" autocomplete="off" >
        </mat-form-field>
        <button mat-raised-button (click)="searchFine()">Search Fine</button>
    </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fine Id</th>
        <th scope="col">License No</th>
        <th scope="col">Vehicle No</th>
        <th scope="col">Policeman</th>
        <th scope="col">Date</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">u</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>

</div>
  
<button (click)="captureScreen()">make pdf</button>

