<app-navBar></app-navBar>

<div >
    <div class="container"  style="margin-top: 150px">
    <h2> {{policeStationName}} Police Station</h2>
    <h4> {{policeStation.address}}</h4>
    <h4> {{policeStation.phoneNo}}</h4>
    <h4>Logged in Policeman ID:{{loggedInPoliceman}}</h4>
    <br><br>  
  </div>
  
  <div  class="container">
      <div>
          <mat-form-field style="width: 30% ;min-width: 100px;" class="search-form-field search-div " floatLabel="never">
              <input [(ngModel)]="fineId"   matInput placeholder="Search Fine" autocomplete="off" >
          </mat-form-field>
          <button mat-raised-button (click)="searchFine()" color="accent">Search Fine</button>
      </div>
  
  </div>
</div>
<footer class="mainfooter" style="margin-top: 150px" role="contentinfo" id="footer">
        <div class="footer-middle">
        <div class="container">
            <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="footer-pad">
                <h4 id="h4">Police Headquarters</h4><br>
                <!-- <address> -->
                    <ul class="list-unstyled">
                        <li>   
                                Police Department
                                331 Olcott Mawatha                            
                        </li>
                        <li>
                            <p>tel: 0112 421 111</p>
                        </li>
                    </ul>
                    <!-- </address> -->
                </div>
            </div>
            </div>
        </div>
        </div>   
    </footer>