<app-navBar></app-navBar><br>

<div id="contentToConvert" class="container" style="margin-top: 85px"><br><br>
  <h5>Driver License No:<span>{{fine.licenseNo}}</span></h5>
  <h5>Driver Vehicle No:<span>{{fine.vehicleNo}}</span></h5>
  <h5>Date:<span>{{fine.date}}</span></h5>
  <table class="table table-bordered">
    <thead>
     <tr>
       <th scope="col">Offence</th>
       <th scope="col">Amount(Rs)</th>
     </tr>
    </thead>
    <tbody>
       <tr class="table-active" *ngFor="let offence of offences">
        <td >{{offence.provision}}</td>
        <td>{{offence.amount}}</td>
       </tr>
     </tbody>
  </table>
  <h5>Other Charges:Rs.<span>{{fine.additionalPay}}</span></h5><br>
  <h5>Total Amount:Rs.<span>{{fine.total}}</span></h5>
</div>
<div class="container" style="margin-top: 20px">
  <button class="btn btn-primary" (click)="clickPay()">Submit</button>
</div>
