<app-navBar></app-navBar><br>

<div id="contentToConvert" class="container" style="margin-top: 65px"><br><br>
  <h3 align="center">Sri Lanka Traffic Police</h3>
  <h3 align="center">{{policeStationName}} Police Station</h3>
  <h5 style="margin-top: 30px" >Fine ID:<span>{{fine._id}}</span></h5>
  <h5 style="margin-top: 10px">Driver License No:<span>{{fine.licenseNo}}</span></h5>
  <h5 style="margin-top: 10px">Driver Vehicle No:<span>{{fine.vehicleNo}}</span></h5>
  <h5 style="margin-top: 10px">Date:<span>{{fine.date}}</span></h5>
  <h5 style="margin-top: 10px">Place:<span>{{fine.place}}</span></h5>
  <table class="table table-bordered"  style="margin-top: 30px">
    <thead>
     <tr>
       <th scope="col">Offence</th>
       <th scope="col">Amount(Rs)</th>
     </tr>
    </thead>
    <tbody>
       <tr class="table-active" *ngFor="let offence of offences">
        <td >{{offence.provision}}</td>
        <td>{{offence.amount}}</td>
       </tr>
     </tbody>
  </table>
  <h5>Other Charges:Rs.<span>{{fine.additionalPay}}</span></h5>
  <h5>Date Difference:<span>{{fine.dateDifference}}</span></h5>
  <h5>Total Amount:Rs.<span>{{fine.total}}</span></h5>
</div>
<div class="container" style="margin-top: 20px">
  <button class="btn btn-primary" (click)="clickPay()"[disabled]="fine.dateDifference>28" >Submit</button>
</div>
