<app-navBar>
</app-navBar>
<div class="image"></div>
<footer class="mainfooter" role="contentinfo" id="footer">
    <div class="footer-middle">
    <div class="container">
        <div class="row">
        <div class="col-md-2 col-sm-2">
            <div class="footer-pad">
            <h4 id="h4">Police Headquarters</h4><br>
            <address>
                <ul class="list-unstyled">
                    <li>   
                            Police Department
                            331 Olcott Mawatha                            
                    </li>
                    <li>
                        <p>tel: 0112 421 111</p>
                    </li>
                </ul>
                </address>
            </div>
        </div>
        </div>
    </div>
    </div>   
</footer>
<br><br><br><br>
