
  <nav style="background-color:darkblue ;" class="navbar fixed-top navbar-expand-lg navbar-light"> 
    <div class="container">
      <a class="navbar-brand" >
       <img src="assets/img/policeLogo.png"style="width:40px">
      </a>
   
      <button class="navbar-toggler" type="button">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
          [ngClass]="{ 'show': navbarOpen }">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item " >
           <button class="nav-link btn button1" (click)="ShowHomeComponent()"   style="color: white">Home</button>
         </li>
         <li class="nav-item " >
            <button class="nav-link btn button1" (click)="ShowRecordFinesForm()"   style="color: white">Search Driver</button>
          </li>
         <li class="nav-item">
             <button class="nav-link btn button1" (click)="ShowFinesComponent()"  style="color: white">Fines</button>
         </li>
         <li class="nav-item">
             <button class="nav-link btn button1" (click)="ShowTrafficPolicemenComponent()"  style="color: white">Traffic Policemen</button>
         </li>
         <li class="nav-item">
          <button class="nav-link btn button1" (click)="ShowReportsComponent()"  style="color: white">Reports</button>
      </li>
       </ul>
     </div>
         <button class="nav-link btn btn-secondary" (click)="logout()">Log Out</button>
   </div>
  </nav>
  