<table #dataTable class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let policestation of policestations">
            <td>{{ policestation.policeStationName}}</td>
            <td>{{ policestation.address}}</td>
            <td>{{ policestation.phoneNo}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
        </tr>
    </tfoot>
</table>
<!-- 
<tr *ngFor="let policestation of policestations">
    <td>{{ policestation.policeStationName}}</td>
    <td>{{ policestation.address}}</td>
    <td>{{ policestation.phoneNo}}</td>
</tr>
</tbody>
<tfoot>
<tr>
    <th>Name</th>
    <th>Position</th>
    <th>Office</th> -->