<mat-card class="login-card">
  <mat-card-title>Sri Lanka Traffic Police </mat-card-title>
  <mat-card-title>Police Station Login</mat-card-title>
      <mat-card-content>
        <div class="container">
           <form #loginForm="ngForm" (ngSubmit)="login()">
              <img src="assets/img/policeLogo.png" style="width:30%" class="center"><br>
             <mat-form-field>
               <input required name="policeStationName" [(ngModel)]="model.policeStationName"  matInput placeholder="Police Station">
              </mat-form-field><br><br>
              <!-- <div class="warning" *ngIf="userName.touched && userName.invalid">Choose the correct username</div> -->
             <mat-form-field>
               <input required  name="password" [(ngModel)]="model.password"  type="password" matInput placeholder="Password">
             </mat-form-field><br><br>
             <mat-form-field>
              <input required name="policemaId" [(ngModel)]="model.policemanId"  matInput placeholder="Policeman ID">
             </mat-form-field><br><br>
             <!-- <div class="warning" *ngIf="userName.touched && userName.invalid">Choose the correct username</div> -->
            <mat-form-field>
              <input required  name="policemanPassword" [(ngModel)]="model.policemanPassword"  type="password" matInput placeholder="Policeman Password">
            </mat-form-field><br><br>
             <p *ngIf="errors" class="error">Invalid username or password</p>
             <p *ngIf="policemanDetailsErrors" class="error">Invalid Policeman Details</p>
             <div class="button">
               <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button>
              </div> 
           </form>
        </div>
      </mat-card-content>
    </mat-card>
   